<div class="w3-container w3-margin-top w3-padding" style="width: 40%; margin: auto;background-color: #303030;">
    <h2 class="w3-center">{{@hyper.label}}</h2>
    <div class="flex-container" style="width: 90%; margin:auto; justify-content: space-between;">
        <p>Current Phase: {{propertyByName @hyper "phase"}}</p>
        {{#let (actionByRel @hyper "delete") as |delAction|}}
        <div class="neon-button-red w3-margin-left" onclick={{action "toggleDelModal"}}>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            DELETE
        </div>
        {{#if this.showingDelModal}}
        {{#modal-dialog
            onClose=(action "toggleDelModal")
            targetAttachment="center"
            translucentOverlay=true
            containerClass="darkBlueBG"
        }}
        Are You Sure About That?
        <div class="flex-container">
            <div class="neon-button-red" onclick={{action "postAs" delAction @hyper.id}}>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                YES
            </div>
        </div>
        {{/modal-dialog}}
        {{/if}}
        {{/let}}
    </div>
    <p class="w3-margin-bottom" style="width: 90%; margin:auto;">Format:
        {{propertyByName @hyper "format"}}</p>
    {{#each @hyper.items as |item|}}
    <div class="w3-container w3-dark-gray w3-padding" style="width:90%; margin:auto;">
        <h4 class="w3-center">{{item.label}}</h4>
        <ul class="w3-ul w3-card w3-hoverable w3-gray w3-margin-top">
            {{#each item.players as |player|}}
            <li class="w3-hoverable">
                <div class="flex-container" style="justify-content: space-between;">
                    <a href='{{linkByRel player "details"}}' target="_blank"
                        style="text-decoration: none;">{{propertyByName player "name"}}
                    </a>
                    {{#let actionByRel (@hyper "drop-player") as |dropAction|}}
                    <div class="neon-button-red" onclick={{action "postAs" dropAction player.id}}>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        &times;
                    </div>
                    {{/let}}
                </div>
            </li>
            {{/each}}
        </ul>
        {{#let (actionByRel @hyper "register-player") as |regAction|}}
        {{#if this.showingRegModal}}
        {{#modal-dialog
            onClose=(action "toggleRegModal")
            targetAttachment="center"
            translucentOverlay=true
            containerClass="darkBlueBG"
        }}
        To be developed
        {{/modal-dialog}}
        {{/if}}
        <div class="flex-container w3-padding">
            <div class="neon-button" onclick={{action "toggleRegModal"}}>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                ADD
            </div>
        </div>
        {{/let}}
    </div>
    {{/each}}
    {{#if (eq (propertyByName @hyper "format") "cube")}}
    {{#let (actionByRel @hyper "end-phase") as |endAction|}}
    <div class="flex-container">
        <div class="neon-button" onclick={{action "postAs" @hyper.id endAction}}>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            START DRAFT
        </div>
    </div>
    {{/let}}
    {{/if}}
</div>